* {
    margin: 0;
    padding: 0;
}

body {
    background: #008000;
}

header {
    background: #808000;
    min-height: 60px;
    
    border-bottom: 4px solid black;
}
/*mobile first layout*/
.main-container {
    display: flex;
    flex-direction: column;
}

.top-section {
    height: 30vh;
    
}

.middle-section {
    
    height: 15vh;
}

.bottom-section {
    
    height: 45vh;
}

.squares-container {
    height: 100%;
    width: 110px;
    display: flex;
    flex-direction: column;
    transform-origin: center;
    transform: rotate(45deg);
    margin-left: 95px;
    margin-top: 5px;
}

.squares-rotated {
    width: 100px;
    height: 100px;
    background: #ff0000;
    border: 4px solid black;
    animation: squaresAnim 7s infinite linear;  
}

@keyframes squaresAnim {
    0%{
        transform: rotate(0deg);
        background: #ff0000;
    }
    50%{
        transform: rotate(180deg);
        background: darkred;
        opacity: 0.5;
    }
    100%{
        transform: rotate(360deg);
        background: #ff0000;
    }
}

.top-square {
    margin-bottom: 45px;
}

.equals-and-circle-container {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 2vh;
}

.equals-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.equals {
    width: 130px;
    height: 15px;
    background: #0000ff;
    border: 4px solid black;

}

.ellipse {
    min-width: 100px;
    min-height: 95px;
    background: #008080;
    border: 4px solid black;
    border-radius: 70px;
    margin-left: 10px;
}

.rectangle-container {
    display: flex;
    justify-content: flex-start;
    width: 85%;
    margin: 0 auto;
}

.rectangle {
    text-align: center;
    padding-top: 20px;
    width: 180px;
    height: 40vh; 
    background: #0000ff;
    border: 4px solid black;
}

p {
    font-family: Arial;
    font-size: 3rem;
}

/*middle breakpoint*/
@media (min-width: 583px) {
   .main-container{
   display: flex;
   flex-direction: row; 
    height: 80vh;
   }
  
   .middle-break {
    width: 50%;
    
   }
   
 
   .squares-container{
    margin-left: 60px;
    margin-top: 0;
   }
    .top-section {
    height: 40vh;    
    }

   .bottom-section{
    height: auto;
    width: 50%;
   }
   .rectangle-container{
    justify-content: flex-end;
   }
   .rectangle {
    height: 60vh;
    width: 220px;
    background: #c83737;
    margin-top: 20px;
}
}

/*breakpoint*/
@media (min-width: 900px){
.middle-break{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.middle-section{
    margin-top: 100px;
}
    .rectangle {
        background: #ffffff;
        
    }
}